############################################
# Build results
############################################
bin/
obj/
out/

############################################
# Visual Studio
############################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################################
# Rider (au cas où)
############################################
.idea/

############################################
# OS
############################################
.DS_Store
Thumbs.db

############################################
# NuGet
############################################
*.nupkg
packages/
project.assets.json
project.nuget.cache

############################################
# Logs
############################################
*.log

############################################
# Publish output
############################################
publish/

############################################
# Test results
############################################
TestResults/

############################################
# Temporary files
############################################
*.tmp
*.temp
*.bak

############################################
# User-specific files
############################################
*.rsuser

############################################
# Debugging files
############################################
*.pdb

############################################
# Coverage tools
############################################
coverage/
*.coverage
*.coveragexml

############################################
# Windows Installer
############################################
*.msi
*.msix
*.appx
*.appxbundle

############################################
# SQLite
############################################
*.db
*.sqlite
/EmbeddedNetworkLab/_res/*.mp4
